<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>Title from User page</title>
</head>
<body>

<section th:fragment="section">

    <!-- Контент страницы -->

    <!-- Вывод сообщения об успешной операции, если оно есть -->
    <div th:if="${successMessage}" class="success-message">
        <p th:text="${successMessage}"></p>
    </div>

    <!-- Вывод сообщения об ошибке, если оно есть -->
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>

        <p>Но вы можете добавить нового пользователя</p>

        <form th:method="GET" th:action="@{/admin/new}">
            <input type="submit" value="Добавить нового пользователя"/>
        </form>

        <p>или вернуться</p>

        <a th:href="@{/admin}"><< Вернуться к списку пользователей</a>
    </div>

    <div>
        <h1>Пользователь</h1>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Email</th>
                <th>Пароль(хеш)</th>
                <th>Роли</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td>
    <span th:each="role, iter : ${user.roles}"
          th:text="${iter.index > 0 ? ', ' : ''} + ${#strings.replace(role.role, 'ROLE_', '')}">
    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form th:method="GET" th:action="@{/admin/edit(id=${user.id})}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>

        <input type="submit" value="Редактировать"/>
    </form>

    <br/>

    <form th:method="POST" th:action="@{/admin/delete}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>

        <input type="submit" value="Удалить"
               th:onclick="return confirm('Вы уверены, что хотите удалить пользователя?')"/>
    </form>

    <br/>

    <a th:href="@{/admin}"><< Вернуться к списку пользователей</a>

    <hr/>

</section>

</body>
</html>